.dial {
  margin: 100px;

  /* width: 31.2rem; */
  height: 4.2rem;
  display: flex;
  list-style: none;
}

.dial__item {
  height: 4.2rem;
  /* background-color: #9c27b0; */
  /* color: #ffffff; */

  cursor: pointer;
  /* padding: 20px; */
  /* border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  border-radius: 3px;
  margin-right: 5px;
}

.dial__item:hover {
  color: #ffffff;
}

.dial__item_active {
  background-color: #7b1fa2;
  color: #ffffff;
}

.dial__item_active_corrector {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.dial__item_active_corrector:hover {
  color: #ffffff;
}
