html {
  font-size: 50.8%;
}
.dial {
  display: flex;
  list-style: none;
}

.dial__item {
  /* width: 3.7rem;*/
  /* height: 3.2rem; */
  /* padding: 10rem; */

  /* background-color: #9c27b0; */
  /* color: #ffffff; */

  cursor: pointer;
  /* padding: 20px; */
  /* border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  border-radius: 3px;

  /* height: 100%; */
  margin-right: 6px;
  margin-bottom: 6px;
}

.dial__item:hover {
  color: #ffffff;
}

.dial__item_active {
  background-color: #7b1fa2;
  color: #ffffff;
}

.dial__item_active_corrector {
  height: 100%;
  /* width: 100%; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  min-width: 25px;
}
/* 
.dial__item_active_corrector:hover {
  color: #ffffff;
} */

@media all and (max-width: 767px) {
  .dial {
    flex-flow: row wrap;
    width: 100%;
  }
}
